@model Register

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form asp-controller="Account" asp-action="Register" method="post" class="border p-4 rounded" style="width: 300px;">
        <h1 class="text-center mb-4">Регистрация</h1>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Пароль</label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Повторите пароль</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-2">Зарегистрироваться</button>

        <a href="/Account/Login" class="text-muted d-block text-center">Уже зарегистрированы? Войти</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


